{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html>

<head>

<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'about.css' %}">
<style>
  body {
    background-repeat: no-repeat;
  
    background-size: cover; 
  }
</style>
<title>About Page</title>

</head>

<body>

<!-- Start your code here -->

<div class="container">

<div class="row">

   <div class="col-12 bg-light bg-opacity-50 rounded">

      <h1 class="text- text-center"style="font-family:'Times New Roman'"><span>What is Dependable Properties?</span></h1>

        <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>Dependable Properties is a family-owned property management business that prides itself on providing reliable and professional services to their clients. With years of experience in the industry, this company has built a reputation for exceptional customer service and attention to detail. They understand the importance of treating every property as if it were their own, and they work tirelessly to ensure that their clients receive the highest level of care and attention. Dependable Properties is committed to maintaining open lines of communication with their clients and providing personalized solutions to meet their unique needs. With a family-oriented approach to business, Dependable Properties is dedicated to building long-lasting relationships with their clients based on trust, integrity, and a commitment to excellence.</span></h2>

      <h1 class="text-black text-center" style="font-family:'Times New Roman'"><span>What are the requirements?</span></h1>
        <ul>
          <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>1) Your monthly income must be at least three times the monthly lease payments</span></h2>
          <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>2) No evictions in the last 10 years</span></h2>
          <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>3) No violent or illicit drug felonies in the last 10 years</span></h2>
          <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>4) If you fill out a application, pay the application fee and are approved and the unit you requested is no longer available we will refund your application fee or apply it to another available unit at your discretion. If you are not approved there is no refund.</span></h2>
          <h2 class="text-black text-center"style="font-family:'Times New Roman'"><span>5) We do check everything on your application. Your payment covers the fees associated with verification of your application.</span></h2>
        </ul>
    </div>

  </div>

</div>
{%endblock%}