{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Listings -->
        <div class="col-md-8 mt-3 left">
            {% for Post in Listings %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}